.full-img {
	&__outer {
		max-width: 1440px;
		margin: 0 auto;
        padding: 0px 40px 88px;
        @media(max-width:1199px){
            padding: 0px 25px 88px;
    }
        @media(max-width:450px){
            padding: 0px 16px 64px;
    }
        display: flex;
        justify-content: center;
	}
    &__inner{
        position: relative;
        max-width: 1230px;
        width: 100%;
    }

	&__text {
		position: absolute;
        left: 48px;
        bottom: 48px;
        padding-right: 30px;
        @media(max-width:575px){
            left: 16px;
            bottom: 34px;
            padding-right: 25px;
        }
        &-title{
            margin-bottom: 16px;
            font-style: italic;
            max-width: 642px;
            font-weight: 400;
            color: var(--white);
            b{
                font-style: normal;
                font-weight: 600;
            }
 
        } 
        &-desc{
            max-width: 480px;
            color: var(--white);
        }
	}
    
    &__mobile-image{
        display: none;
        @media(max-width:575px){
            display: block;
        }
        img{
			border-radius: 20px;
            width: 100%;
        }
    }
	&__image {
        @media(max-width:575px){
            display: none;
        }
		img {
			border-radius: 20px;
            min-height: 554px;
            object-fit: cover;
		}
	}
}
