.integrations-doubledV2 {
     padding-top: 50px;
     &__outer {
          padding-bottom: 104px;
          display: flex;
          justify-content: center;
          @media (max-width: 575px) {
               padding-bottom: 72px;
          }
     }
     &__inner {
          width: 100%;
          max-width: 1300px;
     }

     &__wrapper {
          display: flex;
          justify-content: space-around; // justify-content: space-evenly;
          align-items: center;
          @media (max-width: 1199px) {
               display: grid;
               justify-content: center;
          }
     }

     &__carousel-border {
          display: flex;
          justify-content: center;
     }

     &__carousel-wrapper {
          position: relative;
          width: 494px;
          height: 494px;

          transform: scale(1);

          @media (max-width: 767px) {
               transform: scale(0.9);
          }

          @media (max-width: 575px) {
               transform: scale(0.7);
          }

          @media (max-width: 450px) {
               transform: scale(0.6);
          }

          @media (max-width: 360px) {
               transform: scale(0.5);
          }
     }

     .integrations-doubledV2__carousel-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
     }

     .integrations-doubledV2__circle-move-big,
     .integrations-doubledV2__circle-move-small {
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: var(--purple);
          z-index: 1;
          transform: translate(-50%, -50%);
     }

     &__carousel-big {
          position: relative;
          width: 494px;
          height: 494px;
     }
     &__carousel-small {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 304px;
          height: 304px;
     }
     &__box-logo {
          --radius: 110px;
          width: 110px;
          height: 110px;
          border-radius: 50%;
          background-color: white;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: background-color 0.3s;
          z-index: 3;
          display: flex;
          align-items: center;
          justify-content: center;
          filter: drop-shadow(0px 4px 40px rgba(124, 105, 183, 0.2));
          transition: background-color 0.3s, border 0.3s, box-shadow 0.3s,
               transform 0.3s ease-in-out;
          padding: 20px;
          &.active {
               -webkit-box-shadow: 0px 0px 20px 0px rgba(124, 105, 183, 1);
               -moz-box-shadow: 0px 0px 20px 0px rgba(124, 105, 183, 1);
               box-shadow: 0px 0px 20px 0px rgba(124, 105, 183, 1);
          }
          &.center {
               background: radial-gradient(
                    circle,
                    rgba(142, 118, 186, 0.8) 0%,
                    rgba(92, 72, 148, 1) 100%
               );
          }

          &.logo-3 {
               width: 86px;
               height: 86px;
               left: 0%;
          }

          &.logo-4 {
               width: 86px;
               height: 86px;
               left: 100%;
          }
          &.logo-5 {
               top: 15%;
               left: 15%;
          }

          &.logo-6 {
               top: 85%;
               left: 15%;
          }

          &.logo-7 {
               top: 85%;
               left: 85%;
          }

          &.logo-8 {
               top: 15%;
               left: 85%;
          }

          &.logo-1-2 {
               top: 0%;
               width: 85px;
               height: 85px;
          }

          &.logo-2-2 {
               top: 100%;
               width: 85px;
               height: 85px;
          }

          &.logo-3-2 {
               width: 86px;
               height: 86px;
               left: 0%;
          }

          &.logo-4-2 {
               width: 86px;
               height: 86px;
               left: 100%;
          }
     }

     &__txt {
          width: 100%;
          max-width: 474px;

          &.desktop {
               display: block;

               @media (max-width: 575px) {
                    display: none;
               }
          }

          &.mobile {
               display: none;

               @media (max-width: 575px) {
                    display: block;
                    padding: 0 16px;
               }
          }
     }

     &__main-title {
          display: grid;
          padding-bottom: 40px;

          @media (max-width: 1199px) {
               text-align: center;
          }

          @media (max-width: 575px) {
               font-size: 28px;
               // text-align: start;
          }
     }

     &__thin-info-border {
          padding-top: 40px;
     }

     &__thin-info {
          color: var(--purple);
          font-weight: 600;
     }

     &__button-border {
          display: flex;
          padding-top: 16px;
          position: relative;
          @media (max-width: 1199px) {
               justify-content: center;
               align-items: center;
          }
          @media (max-width: 575px) {
               display: block;
          }
     }
     &__button {
          padding: 20px 40px;
          cursor: pointer;
          z-index: 5;
     }
     .logo {
          position: relative;
          z-index: 3;
     }
}
