.simple {
  .circle-wrapper {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

    @media (max-width: 575px) {
      top: 65px;
      left: -50px;
    }

    @media (max-width: 330px) {
      top: 140px;
      left: -110px;
    }
  }

  .center {
    &__button {
      @media (max-width: 315px) {
        padding: 10px 20px;
        text-align: center;
      }
    }

    &__left-main-title {
      font-weight: 600;

      i {
        font-weight: 300;
      }

      @media (max-width: 575px) {
        font-size: 24px;
      }
    }
  }
}
