.our-mission {
  padding-bottom: 120px;

  @media (max-width: 575px) {
    padding-bottom: 88px;
  }
  &__outer {
    display: flex;
    justify-content: center;
  }
  &__inner {
    width: 100%;
    max-width: 1162px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    @media (max-width: 575px) {
      display: grid;
      justify-content: baseline;
      padding: 0 16px;
    }
  }
  .left {
    &__container {
      display: grid;
      width: 100%;
      max-width: 460px;
      @media (max-width: 575px) {
        margin-left: 0px;
        padding-top: 0;
        max-width: none;
      }
    }
    &__bold-title {
      padding-bottom: 32px;
      width: fit-content;
      @media (max-width: 575px) {
        font-size: 32px;
      }
    }
    &__thin-title {
      display: grid;
    }
    &__txt-wrapper {
      @media (max-width: 575px) {
        display: grid;
        gap: 24px;
      }
    }
    &__first-txt-border,
    &__second-txt-border,
    &__third-txt-border {
      @media (max-width: 9999px) and (min-width: 576px) {
        padding: 12px 0;
      }
    }
    &__list-wrapper {
      display: grid;
      gap: 12px;
    }
    &__sub-item {
      padding-left: 16px;

      @media (max-width: 575px) {
        padding-left: 8px;
      }
    }
    &__button-border {
      display: flex;

      @media (max-width: 575px) {
        display: block;
      }
    }
    &__button {
      margin-top: 32px;
      padding: 20px 40px;
    }
    &__listOf-sub-item {
      display: flex;
      align-items: center;
      padding: 0;
      padding: 16px 0;
      @media (max-width: 575px) {
        padding: 0;
        justify-content: center;
      }
    }
  }
  .right {
    padding-top: 0;
    display: flex;
    align-items: center;
    @media (max-width: 767px) {
      align-items: baseline;
    }
    @media (max-width: 575px) {
      padding-top: 40px;
    }
    &__container {
      margin-left: 80px;
      @media (max-width: 900px) {
        margin-left: 10px;
      }
      @media (max-width: 575px) {
        padding-right: 0;
        margin-left: 0;
      }
    }
    &__image {
      border-radius: 30px;
    }
  }
}
